{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to ABC store where you can buys different items.
    {% endif %}
{% endblock %}
{% block title %}
{% if category %}
        {{ category.name }} - ABC Store
    {% else %}
        See our New Collections -ABC Store
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Our product collections</a> </p>
            </div>
        </div>
    </div>
 {% endif %}
<div class="mx_auto">
    {% if category %}
    <p align="center"><img src="{{category.image.url}}" alt="{{category.name}}" width="65%;" height="auto"></p>
</div>
    <br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
         <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <p align="center"><img class="my_image_padding" src="{% static 'img/banner.jpg' %}" alt="ourproducts" width="85%;" height="auto"></p>
</div>
<br>
<div>
    <h1 class="text-center my_title"> Our products Collections</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare tempus aliquet. Pellentesque finibus, est et iaculis suscipit, dolor nulla commodo dui, nec ultricies arcu nisl tristique eros. Morbi eros est, pulvinar eget ornare ac, ultrices eget risus. Ut lobortis pellentesque pretium. Praesent sollicitudin vestibulum iaculis.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}"  width="200px;" height="175px;"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                     <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"}>{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}